*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "inter", sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: clamp(2.25rem, 8vw, 4rem);
}
h2 {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: clamp(1.5rem, 5vw, 3rem);
}
.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 5;
}

.card-content {
  padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.card-content p {
  flex-grow: 1;
}

.button {
  display: inline-block;
  background-color: #6c5b7b;
  color: #ffffff;
  padding: 0.75rem, 1.5rem;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #355c7d;
}

/* tablet */
@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }

  .card-img {
    aspect-ratio: 1 / 1;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-img {
    aspect-ratio: 16 / 9;
  }
  .card-content {
    padding: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
}
